Host github.com
    IdentitiesOnly yes
    IdentityFile ~/.ssh/github
    AddKeysToAgent yes

Host gitlab.com
    IdentitiesOnly yes
    IdentityFile ~/.ssh/gitlab
    AddKeysToAgent yes

Host *
    User sblaisdo
    IdentitiesOnly yes
    IdentityFile ~/.ssh/sblaisdo
    AddKeysToAgent yes
    ForwardAgent yes
