Host github.com
    IdentitiesOnly yes
    IdentityFile ~/.ssh/github
    AddKeysToAgent yes

Host gitlab.com
    IdentitiesOnly yes
    IdentityFile ~/.ssh/gitlab
    AddKeysToAgent yes

Host *
    User sugarraysam
    IdentitiesOnly yes
    IdentityFile ~/.ssh/sugarraysam.id_rsa
    AddKeysToAgent yes
    ForwardAgent yes
